:root {
    --science-blue: #0074E1;
    --curious-blue: #1B9CE5;
    --concrete: #f3f3f3;
    --turquoise: #10E7DC;
    --spray: #6CDAEE;
    --california: #F79E02;
    --shark: #293042;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background: var(--concrete) !important;
    color: var(--shark) !important;
}

.navbar-wrapper {
    /* I need to wrap navbar */
    max-width: 1680px;
}

.text-title {
    /* font-family: 'Merriweather', serif !important; */
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--science-blue);
}

.text-curious-blue {
    color: var(--curious-blue);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .form-inline {
        padding: 1rem 0;
    }
}